.customer {
  padding-top: 150px;
  padding-bottom: 176px;
  background-color:var(--protection-bg);
}


.customer__title {
  font-family: 'Nunito';
  margin: 0;
  margin-top: 150px;
  margin-bottom: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.text-box-customer {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.customer__text {
  font-family: 'Nunito';
  font-style: normal;
  margin: 0 ;
  margin-bottom:70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.customer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.customer__item {
  width: 100%;
  max-width: 327px;
  padding: 28px 26px 23px;
  background-color:var( --customer-bg);
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}

.customer__item::before {
  display: inline-block;
  width: 112px;
  height: 18px;
  background-image: url('../images/Stars.svg');
  margin-bottom: 16px;
  content: '';
}

.customer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  // color: #737373;
  color: var(--text-color);
  margin-bottom: 16px;
}

.customer-box {
  display: flex;
  align-items: center;
}

.customer-box__inner {
  margin-left: 14px;
}

.customer-box-name {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897A;
}

.customer-box__text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}