.software__wrapper {
  margin-top: 203px;
  margin-bottom: 80px;
  width: 575px;
}

.software__item {
  text-decoration: none;
  color: #211F25;
}

.software__item:hover {
  background: var(--bg-hover);
  color: var(--text-color);

}

.software__item:hover>.software__link {
  color: #FF007A;
}

// .software__subtitle:hover {
//   color:var(--text-color);
// }

// .software__desk:hover {
//   color:var(--text-color);
// }

// .li-lino {
//   text-decoration: none;
//   color :var(--text-color);
// }

.software__title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: var(--text-color);
}


.software__list {
  display: flex;
}

.software__item {
  width: 405px;
  padding: 357px 0 24px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--bg-color);
}

.software__text {
  color: var(--text-color);

}

.software__subtitle {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--text-color);
}

.software__desk {
  font-family: 'Nunito';
  font-style: normal;
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: var(--text-color);
}

.software__link {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  text-decoration: none;
  color: var(--text-color);
}


// .navbar__item:nth-child(1)::before {
//   display: block;
//   width: 23px;
//   height: 15px;
//   margin-right: 9px;
//   background-repeat: no-repeat;
//   background-image: url('../images/fish.svg');
//   content: '';

.software__item:nth-child(1)::before {
  position: absolute;
  top: 15px;
  left: -46px;
  right: 10px;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url('../images/software-1.svg');
  content: '';
}

.software__item:nth-child(2)::before {
  position: absolute;
  top: 15px;
  left: -1px;
  right: 10px;
  width: 350px;
  height: 286px;
  background-repeat: no-repeat;
  background-image: url('../images/software-2.svg');
  content: '';
}

.software__item:nth-child(3)::before {
  position: absolute;
  top: 5px;
  left: -1px;
  right: 10px;
  width: 350px;
  height: 300px;
  background-repeat: no-repeat;
  background-image: url('../images/software-3.svg');
  content: '';
}

a {
  text-decoration: none;
}